.error-page {
  height: 80vh;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.error-heading {
  font-size: 6rem;
  font-weight: 700;
  color: var(--red);
  margin: 0;
  letter-spacing: 5px;
}

.error-text {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 425px) {
  .error-page {
    height: 70vh;
  }

  .error-heading {
    font-size: 5rem;
  }

  .error-text {
    font-size: 2.5rem;
  }
}
